In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime
now = datetime.now()

In [3]:
now

datetime.datetime(2025, 2, 2, 11, 17, 14, 743131)

In [4]:
now.year, now.month, now.day

(2025, 2, 2)

In [5]:
delta = datetime(2014, 3, 7) - datetime(2005, 3, 1)

In [6]:
delta

datetime.timedelta(days=3293)

In [7]:
stamp = datetime(2011, 4, 3)

In [8]:
str(stamp)

'2011-04-03 00:00:00'

In [9]:
stamp.strftime('%Y-%m-%d')

'2011-04-03'

In [10]:
value = "2025-02-02"
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2025, 2, 2, 0, 0)

In [13]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.standard_normal(6), index=dates)

In [14]:
ts

2011-01-02   -1.619662
2011-01-05    1.945263
2011-01-07    0.646599
2011-01-08   -0.093872
2011-01-10   -0.336441
2011-01-12    0.280786
dtype: float64

In [16]:
stamp = ts.index[2]
ts[stamp]

0.6465989593792338

In [17]:
ts["2011-01-08"]

-0.09387186518303163

In [19]:
 longer_ts = pd.Series(np.random.standard_normal(1000), index=pd.date_range("2000-01-01", periods=1000))

In [22]:
longer_ts["2001-05"]

2001-05-01   -1.285242
2001-05-02    0.203607
2001-05-03    0.387042
2001-05-04    0.807085
2001-05-05    0.510489
2001-05-06    0.049200
2001-05-07    0.083325
2001-05-08   -1.176876
2001-05-09    0.340238
2001-05-10    0.560523
2001-05-11    1.157698
2001-05-12    0.292707
2001-05-13   -1.038346
2001-05-14   -0.585498
2001-05-15   -0.518468
2001-05-16   -0.678454
2001-05-17   -1.047326
2001-05-18    0.810005
2001-05-19   -1.412400
2001-05-20    1.008818
2001-05-21   -0.193509
2001-05-22   -0.862502
2001-05-23   -0.743999
2001-05-24    0.179497
2001-05-25   -1.358985
2001-05-26   -2.042074
2001-05-27   -0.079702
2001-05-28    0.066170
2001-05-29    0.745672
2001-05-30   -0.405379
2001-05-31   -0.697998
Freq: D, dtype: float64

In [21]:
longer_ts["2001"]

2001-01-01    0.486067
2001-01-02   -1.637001
2001-01-03    1.747885
2001-01-04    0.378852
2001-01-05    0.557898
                ...
2001-12-27    1.236877
2001-12-28   -0.459091
2001-12-29   -1.900973
2001-12-30    0.856205
2001-12-31   -1.126587
Freq: D, Length: 365, dtype: float64

In [23]:
ts

2011-01-02   -1.619662
2011-01-05    1.945263
2011-01-07    0.646599
2011-01-08   -0.093872
2011-01-10   -0.336441
2011-01-12    0.280786
dtype: float64

In [24]:
resampler = ts.resample("D")

In [25]:
resampler

In [26]:
index = pd.date_range("2012-04-01", "2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [28]:
pd.date_range("2000-01-01", "2000-01-03 23:59", freq="4h")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4h')