In [86]:
import pandas as pd
import numpy as np

In [87]:
temp_series = pd.read_csv("files/data/nyc-temps.txt", names=["temps"]).squeeze()

In [88]:
hours = [0, 3, 6, 9, 12, 15, 18, 21] * 91
hours.append(0)

In [89]:
df = pd.DataFrame({'temp': temp_series, 
                'hour': hours})

In [90]:
df['temp'].median()

0.0

In [91]:
df['temp'].mean()

np.float64(-1.0507544581618655)

In [92]:
df['temp']

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
724    2
725    2
726    2
727    2
728    2
Name: temp, Length: 729, dtype: int64

In [93]:
df.loc[
    df['hour'].isin([3, 6]),
    'temp'
] = np.nan

In [94]:
df

     temp  hour
0    -1.0     0
1     NaN     3
2     NaN     6
3    -1.0     9
4    -1.0    12
..    ...   ...
724   2.0    12
725   2.0    15
726   2.0    18
727   2.0    21
728   2.0     0

[729 rows x 2 columns]

In [95]:
df.interpolate()

     temp  hour
0    -1.0     0
1    -1.0     3
2    -1.0     6
3    -1.0     9
4    -1.0    12
..    ...   ...
724   2.0    12
725   2.0    15
726   2.0    18
727   2.0    21
728   2.0     0

[729 rows x 2 columns]

In [96]:
df['temp'].mean()

np.float64(-1.0493601462522852)

In [97]:
df['temp'].median()

0.0