In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("/Users/jakub/data/nyc_taxi_2020-01.csv", usecols=["passenger_count", "total_amount", "payment_type"], 
                 dtype={'passenger_count': pd.Int8Dtype(), 'payment_type': pd.Int8Dtype(), 'total_amount': pd.Float32Dtype()})

In [14]:
df.isna()

         passenger_count  payment_type  total_amount
0                  False         False         False
1                  False         False         False
2                  False         False         False
3                  False         False         False
4                  False         False         False
...                  ...           ...           ...
6339562            False         False         False
6339563            False         False         False
6339564            False         False         False
6339565            False         False         False
6339566            False         False         False

[6339567 rows x 3 columns]

In [12]:
df = df.dropna().copy()