In [307]:
import pandas as pd
import numpy as np

In [308]:
df = pd.read_csv("/home/kuba/Desktop/pandas-workout/files/data/olympic_athlete_events.csv", 
                 usecols=["Age", "Height", "Team", "Year", "Season", "City", "Sport", "Event", "Medal"])

In [309]:
df = df.set_index(["Year", "Season", "Sport", "Event"])

In [310]:
df = df.sort_index()

In [311]:
gold_winners_df = df[df["Medal"] == "Gold"]
gold_winners_df = gold_winners_df.sort_index()

In [312]:
gold_winners_df.loc[(slice(1936,2000), 'Summer'), 'Age'].mean()

np.float64(25.1371932032725)

In [313]:
gold_winners_df = df.loc[df["Medal"] == "Gold", "Medal"]

In [314]:
idx = pd.IndexSlice
medals_in_archery_df = df.loc[idx[:, :, "Archery"]].groupby("Team")["Medal"].count()

In [315]:
medals_in_archery_df.idxmax()

'South Korea'

In [316]:
df.dropna().loc[(slice(None), 'Summer', 'Archery'), 'Team'].value_counts().head(1)

Team
South Korea    61
Name: count, dtype: int64

In [323]:
df.loc[(slice(1980,None),'Summer', slice(None), "Table Tennis Women's Team"), "Height"].mean()

np.float64(165.04827586206898)

In [318]:
table_tennis_df = df.dropna().loc[(slice(1980,None), 'Summer',"Table Tennis")]

In [324]:
table_tennis_df.loc[(slice(1980,None), 'Summer', slice(None) ,"Table Tennis Men's Team"), "Height"].mean()

np.float64(178.59259259259258)

In [325]:
table_tennis_df.loc[(slice(1980,None), 'Summer', slice(None) ,"Table Tennis Women's Team"), "Height"].mean()

np.float64(163.44444444444446)

In [321]:
tennis_df = df.loc[(slice(1980,2016), 'Summer', 'Tennis')]

In [322]:
tennis_df["Height"].max()

208.0