In [75]:
import pandas as pd
import numpy as np

In [76]:
rides = pd.read_csv("files/data/nyc_taxi_2019-01.csv", usecols=["passenger_count", "trip_distance", "total_amount", "payment_type"])

In [77]:
rides

         passenger_count  trip_distance  payment_type  total_amount
0                      1           1.50             1          9.95
1                      1           2.60             1         16.30
2                      3           0.00             1          5.80
3                      5           0.00             2          7.55
4                      5           0.00             2         55.55
...                  ...            ...           ...           ...
7667787                1           4.79             1         23.16
7667788                1           0.00             1          0.00
7667789                1           0.00             1          0.00
7667790                1           0.00             1          0.00
7667791                1           0.00             1          0.00

[7667792 rows x 4 columns]

In [78]:
rides.loc[rides["passenger_count"] > 8, "passenger_count"].count()

np.int64(9)

In [79]:
rides.loc[rides["passenger_count"] == 0, "passenger_count"].count()

np.int64(117381)

In [80]:
paid_by_cash = rides.loc[rides["payment_type"] == 2]

In [81]:
paid_by_cash.loc[paid_by_cash["total_amount"] > 1000, "total_amount"].count()

np.int64(5)

In [82]:
rides.loc[(rides["payment_type"] == 2) & (rides["total_amount"] > 1000)].shape[0]

5

In [83]:
rides.loc[rides["total_amount"] < 0, "total_amount"].count()

np.int64(7131)

In [84]:
mean_distance = rides["trip_distance"].mean()

In [85]:
avg_amount = rides["total_amount"].mean()

In [86]:
rides.query(f'trip_distance < {mean_distance} and total_amount > {avg_amount}').shape[0]

411255