In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/jakub/data/nyc_taxi_2019-01.csv", 
                 usecols=["passenger_count", "trip_distance", "total_amount"])

In [3]:
df

         passenger_count  trip_distance  total_amount
0                      1           1.50          9.95
1                      1           2.60         16.30
2                      3           0.00          5.80
3                      5           0.00          7.55
4                      5           0.00         55.55
...                  ...            ...           ...
7667787                1           4.79         23.16
7667788                1           0.00          0.00
7667789                1           0.00          0.00
7667790                1           0.00          0.00
7667791                1           0.00          0.00

[7667792 rows x 3 columns]

In [7]:
df.sort_values(by='trip_distance', ascending=False).head(20).mean()

passenger_count      1.6500
trip_distance      204.6305
total_amount       290.0100
dtype: float64

In [11]:
df.nlargest(20, 'trip_distance').mean()

passenger_count      1.6500
trip_distance      204.6305
total_amount       290.0100
dtype: float64

In [12]:
df.sort_values(by='trip_distance', ascending=True).tail(20).mean()

passenger_count      1.6500
trip_distance      204.6305
total_amount       290.0100
dtype: float64

In [16]:
df.sort_values(by=['trip_distance', "passenger_count"], ascending=[True, False]).head(50).mean()

passenger_count     7.4800
trip_distance       0.0000
total_amount       37.5208
dtype: float64