In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("/Users/jakub/data/nyc-parking-violations-2020.csv", 
                 usecols=["Date First Observed", "Plate ID", "Registration State", "Issue Date", "Vehicle Make", "Street Name", "Vehicle Color"])

In [32]:
df = df.set_index("Issue Date")

In [33]:
df.loc["02/01/2020 12:00:00 AM"]["Vehicle Make"].value_counts()

Vehicle Make
TOYOT    2953
HONDA    2901
FORD     2350
NISSA    2246
CHEVR    1303
         ...
VD          1
NAVIS       1
REVEL       1
JENSE       1
HYDI        1
Name: count, Length: 105, dtype: int64

In [34]:
df.loc["01/06/2020 12:00:00 AM"]["Street Name"].value_counts()

Street Name
Broadway          783
3rd Ave           519
2nd Ave           336
Madison Ave       292
Lexington Ave     286
                 ...
N/S E 156TH ST      1
MELROSE AVE         1
E 153RD ST          1
65TH STREET         1
EAST AVENUE         1
Name: count, Length: 4097, dtype: int64

In [40]:
df = df.reset_index().set_index("Vehicle Color")

In [44]:
df.loc[["RED", "BLUE"], "Vehicle Make"].value_counts()

Vehicle Make
HONDA    39353
FORD     30990
TOYOT    30925
NISSA    24950
FRUEH    18506
         ...
MOC          1
PETS         1
ISUNZ        1
BKSER        1
GMBH         1
Name: count, Length: 839, dtype: int64