In [23]:
import pandas as pd
import numpy as np

In [24]:
temp_series = pd.read_csv("files/data/nyc-temps.txt", names=["temps"]).squeeze()

In [25]:
hours = [0, 3, 6, 9, 12, 15, 18, 21] * 91
hours.append(0)

In [26]:
df = pd.DataFrame({'temp': temp_series, 
                'hour': hours})

In [27]:
df.loc[df['temp'] < 0, 'temp'] = 0

In [28]:
df

     temp  hour
0       0     0
1       0     3
2       0     6
3       0     9
4       0    12
..    ...   ...
724     2    12
725     2    15
726     2    18
727     2    21
728     2     0

[729 rows x 2 columns]