In [34]:
import pandas as pd
import numpy as np
import os

In [35]:
filenames = ["albany,ny.csv", "boston,ma.csv", "chicago,il.csv", "san+francisco,ca.csv", "springfield,il.csv", "springfield,ma.csv", "los+angeles,ca.csv", "new+york,ny.csv"]
dataframes = {}

In [36]:
for i, f in enumerate(filenames):
    without_extension = os.path.splitext(f)[0]
    splitted = without_extension.split(",")
    df_name = f"df{i}"
    df = pd.read_csv(f"/Users/jakub/data/{f}", usecols=[0, 1, 2], names=['date_time', 'max_temp', 'min_temp'], header=0)
    df["city"] = splitted[0]
    df["state"] = splitted[1]
    dataframes[df_name] = df

In [38]:
df_all = pd.DataFrame()

In [39]:
for _, df in dataframes.items():
    df_all = pd.concat([df_all, df], ignore_index=True)

In [40]:
df_all

                date_time  max_temp  min_temp      city state
0     2018-12-11 00:00:00        -2        -8    albany    ny
1     2018-12-11 03:00:00        -2        -8    albany    ny
2     2018-12-11 06:00:00        -2        -8    albany    ny
3     2018-12-11 09:00:00        -2        -8    albany    ny
4     2018-12-11 12:00:00        -2        -8    albany    ny
...                   ...       ...       ...       ...   ...
5819  2019-03-11 09:00:00         6         2  new+york    ny
5820  2019-03-11 12:00:00         6         2  new+york    ny
5821  2019-03-11 15:00:00         6         2  new+york    ny
5822  2019-03-11 18:00:00         6         2  new+york    ny
5823  2019-03-11 21:00:00         6         2  new+york    ny

[5824 rows x 5 columns]

In [43]:
df_all.groupby(["city", "state"])["min_temp"].min()

city           state
albany         ny      -19
boston         ma      -14
chicago        il      -28
los+angeles    ca        4
new+york       ny      -14
san+francisco  ca        3
springfield    il      -25
               ma      -20
Name: min_temp, dtype: int64

In [44]:
df_all.groupby(["state"])["max_temp"].max()

state
ca    23
il    16
ma    17
ny    15
Name: max_temp, dtype: int64