In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json("/Users/jakub/data/cities.json")

In [15]:
without_50 = df.drop(df.index[:50])

In [17]:
without_50.describe()

         latitude   longitude     population         rank
count  950.000000  950.000000     950.000000   950.000000
mean    37.364535  -96.440648   87027.387368   525.500000
std      5.317737   17.090096   58652.956490   274.385677
min     21.306944 -157.858333   36877.000000    51.000000
25%     33.756983 -116.973430   48989.500000   288.250000
50%     37.809510  -93.042587   65796.000000   525.500000
75%     41.657728  -82.115760  100842.000000   762.750000
max     61.218056  -70.255326  378715.000000  1000.000000

In [9]:
df.loc[df["latitude"].idxmax(), ["city", "population", "rank"]]

city          Anchorage
population       300950
rank                 63
Name: 62, dtype: object

In [38]:
state_counts = df.groupby(["state"])['city'].count().sort_values(ascending=False)

In [39]:
state_counts.head(1)

state
California    212
Name: city, dtype: int64

In [41]:
df.loc[50:, 'population'].describe()[['mean', '50%']]

mean    87027.387368
50%     65796.000000
Name: population, dtype: float64

In [42]:
df["state"].value_counts()

state
California              212
Texas                    83
Florida                  73
Illinois                 52
Massachusetts            36
Ohio                     33
Michigan                 31
Washington               28
Arizona                  25
Minnesota                24
North Carolina           22
New Jersey               22
Indiana                  21
Colorado                 21
Wisconsin                20
Utah                     19
Georgia                  18
Virginia                 17
New York                 17
Tennessee                17
Missouri                 16
Connecticut              15
Oregon                   14
Pennsylvania             13
Iowa                     13
South Carolina           12
Alabama                  12
Kansas                   11
Oklahoma                 11
Arkansas                 10
Louisiana                 9
Idaho                     8
Maryland                  7
New Mexico                7
Mississippi               6
Rhode Island              6
Nevada                    6
Kentucky                  5
Nebraska                  4
North Dakota              4
Montana                   4
New Hampshire             3
South Dakota              2
Delaware                  2
Wyoming                   2
West Virginia             2
Alaska                    1
Hawaii                    1
District of Columbia      1
Maine                     1
Vermont                   1
Name: count, dtype: int64