In [2]:
import pandas as pd
import numpy as np

In [3]:
rides_july = pd.read_csv("/Users/jakub/data/nyc_taxi_2019-07.csv", usecols=["passenger_count", "total_amount", "payment_type"])

In [4]:
rides_pandemic = pd.read_csv("/Users/jakub/data/nyc_taxi_2020-07.csv", usecols=["passenger_count", "total_amount", "payment_type"])

In [5]:
rides_july["year"] = 2019

In [6]:
rides_pandemic["year"] = 2020

In [7]:
len(rides_july)

6310419

In [8]:
len(rides_pandemic)

800412

In [9]:
rides_july["total_amount"].sum()

123761823.33000001

In [10]:
rides_pandemic["total_amount"].sum()

14912844.090000005

In [11]:
rides_july["total_amount"].sum() - rides_pandemic["total_amount"].sum()

108848979.24000001

In [12]:
rides_july.loc[rides_july["passenger_count"] == 1, "passenger_count"].sum() / rides_july["passenger_count"].sum()

0.44399961162994006

In [13]:
rides_pandemic.loc[rides_pandemic["passenger_count"] == 1, "passenger_count"].sum() / rides_pandemic["passenger_count"].sum()

0.5567338146479649

In [14]:
rides_july.loc[rides_july["payment_type"] == 2, "payment_type"].sum() / rides_july["payment_type"].sum()

0.4397427614749455

In [15]:
rides_pandemic.loc[rides_pandemic["payment_type"] == 2, "payment_type"].sum() / rides_pandemic["payment_type"].sum()

0.4740169130649216

In [16]:
# same exercise but combine DFs together

In [17]:
df = pd.concat([rides_july, rides_pandemic]).reset_index(drop=True)

In [18]:
df.loc[df["year"] == 2019, "total_amount"].count()

6310419

In [19]:
df.loc[df["year"] == 2020, "total_amount"].count()

800412

In [20]:
df.loc[df["year"] == 2019, "total_amount"].count() - df.loc[df["year"] == 2020, "total_amount"].count()

5510007

In [21]:
df.loc[df["year"] == 2019, "total_amount"].sum()

123761823.33000001

In [22]:
df.loc[df["year"] == 2020, "total_amount"].sum()

14912844.090000005

In [23]:
df.loc[df["year"] == 2019, "total_amount"].sum() - df.loc[df["year"] == 2020, "total_amount"].sum()

108848979.24000001

In [24]:
df.loc[(df["passenger_count"] > 1) & (df["year"] == 2019), "passenger_count"].count() / df.loc[df["year"] == 2019, "passenger_count"].count()

0.2833900000955953

In [25]:
df.loc[(df["passenger_count"] > 1) & (df["year"] == 2020), "passenger_count"].count() / df.loc[df["year"] == 2020, "passenger_count"].count()

0.2061513222563435

In [26]:
df.loc[(df["year"] == 2019) & (df["payment_type"] == 2), "payment_type"].count() / df.loc[df["year"] == 2019, "payment_type"].count()

0.2870595845428793

In [27]:
df.loc[(df["year"] == 2020) & (df["payment_type"] == 2), "payment_type"].count() / df.loc[df["year"] == 2020, "payment_type"].count()

0.320558865998251

In [28]:
df

         passenger_count  payment_type  total_amount  year
0                    1.0           1.0          4.94  2019
1                    1.0           2.0         20.30  2019
2                    1.0           1.0         70.67  2019
3                    1.0           1.0         66.36  2019
4                    0.0           1.0         15.30  2019
...                  ...           ...           ...   ...
7110826              NaN           NaN         83.50  2020
7110827              NaN           NaN         19.78  2020
7110828              NaN           NaN         38.45  2020
7110829              NaN           NaN         29.77  2020
7110830              NaN           NaN         51.90  2020

[7110831 rows x 4 columns]