In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv("/Users/jakub/data/celebrity_deaths_2016.csv", 
                 usecols=["dateofdeath", "age",])

In [103]:
df["month"] = df["dateofdeath"].str.slice(5,7)

In [104]:
df = df.set_index("month")

In [105]:
df = df.sort_index()

In [106]:
df["age"] = pd.to_numeric(df['age'], errors="coerce")

In [107]:
df = df.dropna(subset=['age'])

In [108]:
df

      dateofdeath   age
month
01     2016-01-01  71.0
01     2016-01-21  47.0
01     2016-01-21  87.0
01     2016-01-21  90.0
01     2016-01-21  73.0
...           ...   ...
12     2016-12-10  63.0
12     2016-12-10  20.0
12     2016-12-10  57.0
12     2016-12-10  78.0
12     2016-12-27  84.0

[6505 rows x 2 columns]

In [115]:
df = df.loc[df["age"] < 125, :]

In [118]:
df["age"].mean()

77.0192871470452